mlflow.db
mlartifacts/
mlruns/
models/
outputs/
.pytest_cache/
.ipynb_checkpoints/
data/train_phase1.csv
data/eval.csv
data/train_phase2.csv
sa-key.json
.env
.venv/
__pycache__/
*.pyc
.DS_Store
aws/
awscliv2.zip
